body {
    overflow-x: hidden;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header .header-content .header-content-inner h1 {    
   /* color: #0081fa;*/
   color: #fff;
}

header .header-content .header-content-inner h3 {    
    /*color: #034079;*/
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

a {    
    color: #fff;
}

a:hover {
    color: #0081fa;
    text-decoration:none;
}
.navLogo{
	margin-top: 0px;
	max-height: 28px;
}
.logoHeader{
	margin-bottom: 20px;
}

.btn {    
    border-radius: 0px;   
}

.btn-primary {
    color: #ffffff;
    background-color: #034079;    
    border-color: #fff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #0081fa;
    border-color: #fff;
}

.btn-info {
    color: #ffffff;
    background-color: #0081fa;    
    border-color: #fff;
}

.btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
    color: #ffffff;
    background-color: #034079;
    border-color: #fff;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default{
	color: #ffffff;
    background-color: #0081fa;
    border-color: #fff;
}

.navbar-default .nav > li.active > a, .navbar-default .nav > li.active > a:focus {
    color: #0081fa !important;
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #0081fa;
}

.portfolio-box .portfolio-box-caption {
    color: white;
    opacity: 0;
    display: block;
    background: rgba(0, 51, 102, 0.8);
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

.bg-primary {
    background-color: #034079;
}

hr {
    border-color: #0081fa;
    border-width: 3px;
    max-width: 300px;
}

.text-faded {    
    font-size: 15px;
}

.logoSection{
	margin-bottom: 20px;
}

.service-box p{
	font-size: 14px;
	font-weight: 500;
	text-align: justify;
}

.text-primary {
    color: #034079;
}

#marcas img{
	height: 100px;
	margin-bottom: 20px;
	margin-top: 20px;
}
footer {
    padding: 25px 0;
    text-align: center;
    background-color: #000; 
}

ul.social-buttons {
    margin-bottom: 0;
    text-align: right;
}

ul.social-buttons li a {
    display: block;
    background-color: #ce0000 ;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover {
    display: block;
    background-color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #ce0000;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.list-inline>li {
    text-align: center;
}

.copyright {
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
    padding-top: 10px!important;
    display: block;
    text-align: left;
}

#arrow {
    position:fixed; 
    right:20px; 
    bottom:10px;
}

#arrow a{
    display:inline-block;
    padding:15px;
    cursor:pointer;
    background-color:rgba(0,0,0,0.4);
    color:white;
}

#arrow a:hover{
    display:inline-block;
    padding:12px 12px;
    cursor:pointer;
    background-color:rgba(0,0,0,0.7);
    color:white;
}

.productos{
	padding-top: 30px;
}       

.marcas{
	padding-top: 50px;
	padding-bottom: 50px;
}

.help-block {    
    color: #a20101;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.well{
	border-radius: 0px;
	border: none;
	width: 100%;
	padding-bottom: 5px;
	margin: 0;
}


/**************** MODIFICACIONES GOURMET ******************/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe Script', 'Roboto', Arial, sans-serif;
}

header .header-content .header-content-inner h1 {
    font-weight: 500;
    font-size: 45px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: none;
}

.btn-black{
    background-color: #000;
    color: #fff;
}

.btn-black:hover{
    background-color: rgba(0,0,0,0.6);
    color: #fff;
}

.btn-red{
    background-color: #c30a05;
    color: #fff;
}

.btn-red:hover{
    background-color: rgba(195,10,5,0.6);
    color: #fff;
}

.btn-white {
    background: #fff;
    color: #a90601;
}

.btn-white:hover {
    background: rgba(255, 255, 255, 0.6);
    color: #a90601;
}

a.social-link {
    color: #ce0000;
}

a.social-link:hover {
    color: #8e0000;
}

hr.primary{border-color: #c30a05;}

.text-fit{ font-family: 'Segoe UI', 'Roboto', sans-serif;}

img.logoHeader{max-width: 150px;margin: 50px auto;}
span.fa-stack.fa-lg {
    margin-top: 6px;
}

.bg-primary {
    background-color: #a90601;
}

.navbar-default .nav > li.active > a, .navbar-default .nav > li.active > a:focus {
    color: #fd0c05 !important;
    background-color: transparent;
}

.text-primary {
    color: #a90601;
}

.portfolio-box .portfolio-box-caption{
    background: rgba(169,6,1,0.6);
}

.fortune-cookies{
    background: #fff url(../img/fortunecookies-bg.png) top center/cover no-repeat;
    padding-top: 250px;
    padding-bottom: 120px;
}

.text-green{
    font-size: 60px;
    color: #1d6700;
}

.list-group-item {
    height: 80px;
}

.list-group-item-text {
    font-size: 12px;
    color: #888;
}

#menu-container{
    padding-top: 50px;
}

.menu-item h3, .list-group-item-heading {
    text-transform: uppercase;
}

#marcas img {
    width: 280px;
    height: 280px;
    margin-bottom: 10px;
    margin-top: 10px;
}

img.about-image {
    width: 100%;
}

.text-white{color: #fff;}
.navbar-default {
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #860303;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
    margin-left:0;
}

.navbar-default .nav > li > a, .navbar-default .nav > li > a:focus {
    color: #fff;
}

.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus:hover {
    color: #fa2500;
}

.form-group {
    margin-bottom: 0!important;
}
p.help-block {
    margin-bottom: 3px!important;
}

img#btnVerMas:hover{
    cursor: pointer!important;
}

/* MEDIA QUERY */
@media (max-width: 767px){
	.navbar-default .navbar-header .navbar-brand {
	    color: #0081fa;
	    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	    font-weight: 700;
	    text-transform: uppercase;
	}
	.navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus {
	     color: #034079;
	}

	.navbar-default .nav > li > a, .navbar-default .nav > li > a:focus {
	    color: #034079;
	}

	.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus:hover {
    color: #0081fa;
    }

}

@media (min-width: 768px){
    .navbar-default.affix .nav > li > a, .navbar-default.affix .nav > li > a:focus {	    
	    color: #034079;
    }
    
	.navbar-default.affix .nav > li > a:hover, .navbar-default.affix .nav > li > a:focus:hover {
    	color: #034079;
	}

	.navbar-default.affix .navbar-header .navbar-brand {
    	color: #0081fa;
    	font-size: 15px;
	}

	.navbar-default.affix .navbar-header .navbar-brand {
	    color: #0081fa!important;
	   
    }

    .service-box {
	    margin: 40px auto 0;
	    height: 250px;	    
    }
    
    .navbar-default {
        background-color: transparent;
        border-color: rgba(255, 255, 255, 0.05);
    }

    .navbar-default.affix {
        background-color: rgba(0, 0, 0, 0.8);
        border-color: rgba(0, 0, 0, 0.8);
    }

    .navbar-default.affix .nav > li > a, .navbar-default.affix .nav > li > a:focus {
        color: #ffffff;
    }

    .navbar-default.affix .nav > li > a:hover, .navbar-default.affix .nav > li > a:focus:hover {
        color: #a90601;
    }
    
    .footer-widget-wrap {
        background: #f42f2c url(../img/footer-bg.jpg) top left/contain repeat;
        color: #fff;
        background-blend-mode: color-burn;
    }

    .section-gap {
        padding: 40px 0;
    }

    .single-footer-widget h3 {
        padding-bottom: 30px;
    }

    .single-footer-widget .hr-list li {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(238,238,238,.3);
    }

    .justify-content-between {
        justify-content: space-between!important;
    }

    .d-flex {
        display: flex!important;
    }

    p.number {
        color: #fff;
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
    }
}

@media (min-width: 992px){
	.service-box {
	    margin: 40px auto 0;
	    height: 250px;	    
	}
}

@media (min-width: 1200px){
	.vdivide [class*='col-']:not(:last-child):after {
	  background: #e0e0e0;
	  width: 1px;
	  content: "";
	  display:block;
	  position: absolute;
	  top:0;
	  bottom: 0;
	  right: 0;
	  min-height: 70px;
	}
}
.videoContainer{
    width: 100vh;
    height: 100vh;
}
.caja{
    z-index: 2000;
    width: 200px;
    height: 200px;
    background-color: blue;
}

